// THIS IS A DUMMY EXAMPLE! DISCARD IT

/* NEVER MODIFY THE CSS FILE, ONLY THE SASS FILE! */

$color: red;
$size: 16pt;

nav{
   div{
      font:{
         family:serif;
         weight:bold;
         size: $size;
      }


   }
}
